[defaults]
inventory         = inventory/aws_ec2.yml
remote_user       = ec2-user
private_key_file  = ~/.ssh/terraform-lab-key.pem
host_key_checking = False
roles_path        = /home/lenovo/terraform-ansible/ansible/roles

[inventory]
enable_plugins = amazon.aws.aws_ec2
